@{
    ViewData["Title"] = "Home Page";
}

<!-- Jumbotron Header -->
<header class="jumbotron my-4">
    <h1 class="display-3">ASP.NET Core EcommerceS</h1>
    <p class="lead">Bienvenido Usuario: <strong>Moreno Jack</strong> </p>
</header>
    
<div class="card mb-4">
    <div class="card-header">
        Categorias
    </div>
    <div class="card-body d-flex justify-content-between">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Tecnologia</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Abarrotes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option3">
            <label class="form-check-label" for="inlineRadio1">Limpieza</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option4">
            <label class="form-check-label" for="inlineRadio2">Electrodomesticos</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option4">
            <label class="form-check-label" for="inlineRadio2">Herramientas</label>
        </div>
    </div>
</div>

<div class="input-group mb-4">
    <span class="input-group-text" id="basic-addon1">Buscar</span>
    <input type="text" class="form-control" placeholder="Escribe el nombre">
    <a href="" class="btn btn-secondary">
        <i class="bi bi-search"></i>
    </a>
</div>

<!-- Page Features -->
<div class="row text-center my-4">
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="" />
            <div class="card-body">
                <p class="card-text">Nombre del producto.</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <a href="productohome.html" class="btn btn-success">Detalles</a>
                <a href="carrito.html" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="" />
            <div class="card-body">
                <p class="card-text">Nombre del producto.</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <a href="productohome.html" class="btn btn-success">Detalles</a>
                <a href="carrito.html" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="" />
            <div class="card-body">
                <p class="card-text">Nombre del producto.</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <a href="productohome.html" class="btn btn-success">Detalles</a>
                <a href="carrito.html" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="" />
            <div class="card-body">
                <p class="card-text">Nombre del producto.</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <a href="productohome.html" class="btn btn-success">Detalles</a>
                <a href="carrito.html" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center my-4">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#">Previuos</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
